﻿@model CGFWatcher.Web.Models.SnapshotModel

@{
    ViewData["Title"] = "Snapshot";
}

<p>
    Player Snapshots Count: @Model.PlayerSnapshotsCount<br />
    Membership Snapshots Count: @Model.MembershipSnapshotsCount
</p>

<form method="post" action="@Url.Action("Create")">
    <div>
        <button type="submit">Create Snapshots</button>
    </div>
</form>