﻿<hr *ngIf="filter">

<p *ngIf="filter && !hasData && !isLoadingInProgress">{{ "ClubComparison.Chart.NoData" | translate:lang }}</p>

<p *ngIf="isLoadingInProgress">{{ "LoadingData" | translate:lang }}</p>

<p cgfAlertLabel *ngIf="errorMessage">{{ errorMessage }}</p>

<ng-container *ngIf="hasData && !isLoadingInProgress">

    <div class="row">
        <cgf-club-comparison-chart-bar [comparison]="comparison"></cgf-club-comparison-chart-bar>
    </div>

    <hr>

    <div class="row">
        <cgf-club-comparison-chart-radar [comparison]="comparison"></cgf-club-comparison-chart-radar>
    </div>

    <hr>

    <div class="row">
        <cgf-club-comparison-chart-pie [comparison]="comparison"></cgf-club-comparison-chart-pie>
    </div>

</ng-container>
