﻿<hr>

<form #filterForm="ngForm" (ngSubmit)="submitFilter()">
    <div class="row">
        <div class="columns medium-4">
            <label for="date">{{ "ClubComparison.Filter.Date" | translate:lang }}</label>
            <input type="date" [(ngModel)]="filter.date" id="date" name="date" required />
        </div>

        <div class="columns medium-4">
            <label for="golfClubPrefix1">{{ "GolfClub" | translate:lang }} 1</label>
            <select [(ngModel)]="filter.golfClubPrefix1" id="golfClubPrefix1" name="golfClubPrefix1" required>
                <option value="" selected></option>
                <option *ngFor="let golfClub of golfClubs" [value]="golfClub.prefix">{{golfClub.prefix}} &ndash; {{golfClub.name}}</option>
            </select>
        </div>

        <div class="columns medium-4">
            <label for="golfClubPrefix2">{{ "GolfClub" | translate:lang }} 2</label>
            <select [(ngModel)]="filter.golfClubPrefix2" id="golfClubPrefix2" name="golfClubPrefix2" required>
                <option value="" selected></option>
                <option *ngFor="let golfClub of golfClubs" [value]="golfClub.prefix">{{golfClub.prefix}} &ndash; {{golfClub.name}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="columns">
            <button type="submit" class="button" [disabled]="!filterForm.form.valid">{{ "ClubComparison.Filter.CompareClubs" | translate:lang }}</button>
        </div>
    </div>
</form>