﻿<h1>{{ "ClubComparison.Title" | translate:lang }}</h1>
<p class="lead">{{ "ClubComparison.SubTitle" | translate:lang }}</p>

<cgf-club-comparison-filter [filter]="filter" (onFilterSubmit)="onFilterSubmit($event)"></cgf-club-comparison-filter>

<cgf-club-comparison-chart [filter]="submittedFilter"></cgf-club-comparison-chart>