﻿<div class="columns medium-6">
    <h3 class="text-center">{{ "ClubComparison.Chart.MembersStructure" | translate:lang }}</h3>
    <h4 class="text-center">{{golfClubName1()}}</h4>
    <canvas baseChart chartType="pie" [data]="chartData1" [labels]="chartLabels" [options]="chartOptions" class="chart"></canvas>
</div>

<div class="columns medium-6">
    <h3 class="text-center">{{ "ClubComparison.Chart.MembersStructure" | translate:lang }}</h3>
    <h4 class="text-center">{{golfClubName2()}}</h4>
    <canvas baseChart chartType="pie" [data]="chartData2" [labels]="chartLabels" [options]="chartOptions" class="chart"></canvas>
</div>