﻿<div class="columns medium-12">
    <h3 class="text-center">{{ "ClubComparison.Chart.HandicapCategories" | translate:lang }}</h3>
    <canvas baseChart chartType="bar" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" class="chart"></canvas>
</div>