﻿<h1>{{ "MembershipSnapshot.Title" | translate:lang }}</h1>
<p class="lead">{{ "MembershipSnapshot.SubTitle" | translate:lang }}</p>

<cgf-snapshot-membership-filter [filter]="filter" (onFilterSubmit)="onFilterSubmit($event)"></cgf-snapshot-membership-filter>

<cgf-snapshot-membership-chart [filter]="submittedFilter"></cgf-snapshot-membership-chart>