﻿<hr>

<form #filterForm="ngForm" (ngSubmit)="submitFilter()">
    <div class="row">
        <div class="columns medium-4">
            <label for="golfClubPrefix">{{ "GolfClub" | translate:lang }}</label>
            <select [(ngModel)]="filter.golfClubPrefix" id="golfClubPrefix" name="golfClubPrefix" required>
                <option value="" selected></option>
                <option *ngFor="let golfClub of golfClubs" [value]="golfClub.prefix">{{golfClub.prefix}} &ndash; {{golfClub.name}}</option>
            </select>
        </div>

        <div class="columns medium-4">
            <label for="dateFrom">{{ "MembershipSnapshot.Filter.DateFrom" | translate:lang }}</label>
            <input type="date" [(ngModel)]="filter.dateFrom" id="dateFrom" name="dateFrom" required />
        </div>

        <div class="columns medium-4">
            <label for="dateTo">{{ "MembershipSnapshot.Filter.DateTo" | translate:lang }}</label>
            <input type="date" [(ngModel)]="filter.dateTo" id="dateTo" name="dateTo" required />
        </div>
    </div>

    <div class="row">
        <div class="columns">
            <button type="submit" class="button" [disabled]="!filterForm.form.valid">{{ "MembershipSnapshot.Filter.ShowStatistics" | translate:lang }}</button>
        </div>
    </div>
</form>