<hr *ngIf="filter">

<p *ngIf="isLoadingInProgress">{{ "LoadingData" | translate:lang }}</p>

<p cgfAlertLabel *ngIf="errorMessage">{{ errorMessage }}</p>

<ng-container *ngIf="filter && !isLoadingInProgress">

    <div class="columns medium-12">
        <canvas baseChart chartType="line" [datasets]="chartData" [options]="chartOptions" class="chart"></canvas>
    </div>

    <hr>

    <table class="hover stack">
        <thead>
            <tr>
                <th>{{ "MembershipSnapshot.Chart.Date" | translate:lang }}</th>
                <th>{{ "MembershipSnapshot.Chart.Total" | translate:lang }}</th>
                <th>{{ "MembershipSnapshot.Chart.Home" | translate:lang }}</th>
                <th>{{ "MembershipSnapshot.Chart.Blocked" | translate:lang }}</th>
                <th>HCP &lt; 0</th>
                <th>HCP 0-10</th>
                <th>HCP 10-20</th>
                <th>HCP 20-30</th>
                <th>HCP 30-36</th>
                <th>HCP 37-53</th>
                <th>HCP 54</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let snapshot of snapshots">
                <td l10nDate="shortDate">{{snapshot.created}}</td>
                <td l10nDecimal>{{snapshot.total}}</td>
                <td l10nDecimal>{{snapshot.totalHome}}</td>
                <td l10nDecimal>{{snapshot.totalBlocked}}</td>
                <td l10nDecimal>{{snapshot.handicap_lt_0}}</td>
                <td l10nDecimal>{{snapshot.handicap_0_10}}</td>
                <td l10nDecimal>{{snapshot.handicap_10_20}}</td>
                <td l10nDecimal>{{snapshot.handicap_20_30}}</td>
                <td l10nDecimal>{{snapshot.handicap_30_36}}</td>
                <td l10nDecimal>{{snapshot.handicap_37_53}}</td>
                <td l10nDecimal>{{snapshot.handicap_54}}</td>
            </tr>
        </tbody>
    </table>

</ng-container>
