﻿<hr>

<form #filterForm="ngForm" (ngSubmit)="submitFilter()">
    <div class="row">
        <div class="columns medium-4">
            <label for="dateFrom">{{ "PlayerSnapshot.Filter.DateFrom" | translate:lang }}</label>
            <input type="date" [(ngModel)]="filter.dateFrom" id="dateFrom" name="dateFrom" required />
        </div>

        <div class="columns medium-4">
            <label for="dateTo">{{ "PlayerSnapshot.Filter.DateTo" | translate:lang }}</label>
            <input type="date" [(ngModel)]="filter.dateTo" id="dateTo" name="dateTo" required />
        </div>

        <div class="columns medium-4"></div>
    </div>

    <div class="row">
        <div class="columns">
            <button type="submit" class="button" [disabled]="!filterForm.form.valid">{{ "PlayerSnapshot.Filter.ShowStatistics" | translate:lang }}</button>
        </div>
    </div>
</form>