﻿<h1>{{ "PlayerSnapshot.Title" | translate:lang }}</h1>
<p class="lead">{{ "PlayerSnapshot.SubTitle" | translate:lang }}</p>

<cgf-snapshot-player-filter [filter]="filter" (onFilterSubmit)="onFilterSubmit($event)"></cgf-snapshot-player-filter>

<cgf-snapshot-player-chart [filter]="submittedFilter"></cgf-snapshot-player-chart>