﻿@model CGFWatcher.Web.Models.PlayerDetailModel

@{
    ViewData["Title"] = "Player detail";
}

<div class="page-header">
    <h1>@Model.PlayerData.Player.FullName <small>HCP @Model.PlayerData.Player.Handicap.ToString("n1")</small></h1>
</div>

<table class="table">
    <tr>
        <th>Registration no.</th>
        <th>Golf club</th>
        <th>Home</th>
        <th>Blocked</th>
        <th>Deleted</th>
    </tr>

    @foreach (var membership in Model.PlayerData.Player.Memberships)
    {
        <tr>
            <td>@membership.RegistrationNumber</td>
            <td>@membership.GolfClub.Name</td>
            <td>
                @if (membership.IsHome)
                {
                    <span class="label label-success">Home club</span>
                }
            </td>
            <td>
                @if (membership.IsBlocked)
                {
                    <span class="label label-danger">Blocked</span>
                }
            </td>
            <td>
                @if (membership.IsDeleted)
                {
                    <span class="label label-danger">Deleted</span>
                }
            </td>
        </tr>
    }

</table>