﻿@model CGFWatcher.Web.Models.PlayerModel

@{
    ViewData["Title"] = "Database of players";
}

<h1>Players</h1>

<form asp-controller="Player" asp-action="Listing" method="post">
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Filter.RegistrationNumberOrName" class="control-label">Name or registration no.</label>
            <input asp-for="Filter.RegistrationNumberOrName" class="form-control">
            <span asp-validation-for="Filter.RegistrationNumberOrName" class="text-danger"></span>
        </div>

        <div class="form-group col-md-2">
            <label asp-for="Filter.HandicapFrom" class="control-label">HCP from</label>
            <input asp-for="Filter.HandicapFrom" class="form-control">
            <span asp-validation-for="Filter.HandicapFrom" class="text-danger"></span>
        </div>

        <div class="form-group col-md-2">
            <label asp-for="Filter.HandicapTo" class="control-label">HCP to</label>
            <input asp-for="Filter.HandicapTo" class="form-control">
            <span asp-validation-for="Filter.HandicapTo" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Filter.GolfClubID" class="control-label">Golf club</label>
            <select asp-for="Filter.GolfClubID" asp-items="Model.GolfClubs" class="form-control"></select>
            <span asp-validation-for="Filter.GolfClubID" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Show players</button>
        </div>
    </div>
</form>

<div class="listing-placeholder"></div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("form").submit(FormSubmitHandler);
        });

        function FormSubmitHandler() {
            var form = $(this);
            var url = form.attr("action");
            var params = form.serialize();

            LoadListing(url, params);

            return false;
        }

        function LoadListing(url, params) {
            $.post(url, params).done(function (data) {
                $(".listing-placeholder").empty().append(data);
            });
        }
    </script>
}
