﻿@{
    Layout = null;
}

@model CGFWatcher.Web.Models.PlayerListingModel

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Handicap</th>
        <th>Registration no.</th>
        <th>Golf club</th>
        <th>Home</th>
        <th>Blocked</th>
        <th>Deleted</th>
    </tr>

    @foreach (var player in Model.Players)
    {
        var playerHeaderPrinted = false;
        var membershipsCount = player.Memberships.Count;

        foreach (var membership in player.Memberships)
        {
            <tr>

                @if (!playerHeaderPrinted)
                {
                    playerHeaderPrinted = true;

                    <td rowspan="@membershipsCount">
                        <a asp-controller="Player" asp-action="Detail" asp-route-id="@player.ID">@player.FullName</a>
                    </td>
                    <td rowspan="@membershipsCount">@player.Handicap.ToString("n1")</td>
                }

                <td>@membership.RegistrationNumber</td>
                <td>@membership.GolfClub.Name</td>
                <td>
                    @if (membership.IsHome)
                    {
                        <span class="label label-success">Home club</span>
                    }
                </td>
                <td>
                    @if (membership.IsBlocked)
                    {
                        <span class="label label-danger">Blocked</span>
                    }
                </td>
                <td>
                    @if (membership.IsDeleted)
                    {
                        <span class="label label-danger">Deleted</span>
                    }
                </td>
            </tr>
        }
    }

</table>