﻿@model CGFWatcher.Web.Models.DataRefreshModel

@{
    ViewData["Title"] = "Data Refresh";
}

<p>
    Players Count: @Model.PlayersCount<br />
    Memberships Count: @Model.MembershipsCount
</p>

<form method="post" action="@Url.Action("Run")">
    <div>
        @Html.LabelFor(x => x.DataRefreshParameters.HandicapFrom, "HCP From")
        @Html.TextBoxFor(x => x.DataRefreshParameters.HandicapFrom)
    </div>

    <div>
        @Html.LabelFor(x => x.DataRefreshParameters.HandicapTo, "HCP To")
        @Html.TextBoxFor(x => x.DataRefreshParameters.HandicapTo)
    </div>

    <div>
        @Html.LabelFor(x => x.DataRefreshParameters.ItemsFrom, "Items From")
        @Html.TextBoxFor(x => x.DataRefreshParameters.ItemsFrom)
    </div>

    <div>
        @Html.LabelFor(x => x.DataRefreshParameters.ItemsTo, "Items To")
        @Html.TextBoxFor(x => x.DataRefreshParameters.ItemsTo)
    </div>

    <div>
        <button type="submit">Refresh Data</button>
    </div>
</form>