﻿<h1>{{ "Player.Title" | translate:lang }}</h1>
<p class="lead">{{ "Player.SubTitle" | translate:lang }}</p>

<cgf-player-filter [filter]="filter" (onFilterSubmit)="submitFilter($event)"></cgf-player-filter>

<cgf-player-listing [filter]="submittedFilter" (onPageChanged)="changePage($event)" (onPlayerSelected)="selectPlayer($event)"></cgf-player-listing>

<router-outlet></router-outlet>