<hr *ngIf="filter">

<p *ngIf="isLoadingInProgress">{{ "LoadingData" | translate:lang }}</p>

<p cgfAlertLabel *ngIf="errorMessage">{{ errorMessage }}</p>

<ng-container *ngIf="filter && !isLoadingInProgress">

    <table class="hover stack">
        <thead>
            <tr>
                <th>{{ "Player.Listing.Name" | translate:lang }}</th>
                <th>{{ "Player.Listing.Handicap" | translate:lang }}</th>
                <th>{{ "Player.RegistrationNumber" | translate:lang }}</th>
                <th>{{ "GolfClub" | translate:lang }}</th>
                <th>{{ "Player.Home" | translate:lang }}</th>
                <th>{{ "Player.Blocked" | translate:lang }}</th>
                <th>{{ "Player.Deleted" | translate:lang }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players.data">
                <td><a (click)="selectPlayer(player)">{{player.fullName}}</a></td>
                <td>{{player.handicap | l10nDecimal:lang:'.1'}}</td>
                <td>
                    <div *ngFor="let membership of player.memberships">
                        {{membership.registrationNumber}}
                    </div>
                </td>
                <td>
                    <div *ngFor="let membership of player.memberships">
                        {{membership.golfClub}}
                    </div>
                </td>
                <td>
                    <div *ngFor="let membership of player.memberships">
                        <span cgfSuccessLabel *ngIf="membership.isHome">{{ "Player.HomeClub" | translate:lang }}</span>
                        <br *ngIf="!membership.isHome">
                    </div>
                </td>
                <td>
                    <div *ngFor="let membership of player.memberships">
                        <span cgfWarningLabel *ngIf="membership.isBlocked">{{ "Player.Blocked" | translate:lang }}</span>
                        <br *ngIf="!membership.isBlocked">
                    </div>
                </td>
                <td>
                    <div *ngFor="let membership of player.memberships">
                        <span cgfAlertLabel *ngIf="membership.isDeleted">{{ "Player.Deleted" | translate:lang }}</span>
                        <br *ngIf="!membership.isDeleted">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <cgf-pager [filter]="filter" [list]="players" (onPageChanged)="changePage($event)"></cgf-pager>

</ng-container>
