<div (cgfDialog)="closeDetail()" class="reveal-overlay" *ngIf="player">
    <div class="reveal large" role="dialog" aria-hidden="false" tabindex="-1">
        <h2>{{player.fullName}}</h2>
        <p class="lead">
            {{ "Player.Detail.HandicapAbbr" | translate:lang }}
            {{player.handicap | l10nDecimal:lang:'.1' }}
        </p>

        <h3>{{ "Player.Detail.Title" | translate:lang }}</h3>
        <table class="hover stack">
            <thead>
                <tr>
                    <th>{{ "Player.RegistrationNumber" | translate:lang }}</th>
                    <th>{{ "GolfClub" | translate:lang }}</th>
                    <th>{{ "Player.Home" | translate:lang }}</th>
                    <th>{{ "Player.Blocked" | translate:lang }}</th>
                    <th>{{ "Player.Deleted" | translate:lang }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let membership of player.memberships">
                    <td>{{membership.registrationNumber}}</td>
                    <td>{{membership.golfClub}}</td>
                    <td><span cgfSuccessLabel *ngIf="membership.isHome">{{ "Player.HomeClub" | translate:lang }}</span></td>
                    <td><span cgfWarningLabel *ngIf="membership.isBlocked">{{ "Player.Blocked" | translate:lang }}</span></td>
                    <td><span cgfAlertLabel *ngIf="membership.isDeleted">{{ "Player.Deleted" | translate:lang }}</span></td>
                </tr>
            </tbody>
        </table>

        <cgf-player-handicap-chart [player]="player"></cgf-player-handicap-chart>

        <button (click)="closeDetail()" class="close-button" aria-label="Close modal" type="button">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>
