<hr>

<form #filterForm="ngForm" (ngSubmit)="submitFilter()">
    <div class="row">
        <div class="columns medium-4">
            <label for="registrationNumberOrName">{{ "Player.Filter.RegistrationNumberOrName" | translate:lang }}</label>
            <input type="text" [(ngModel)]="filter.registrationNumberOrName" id="registrationNumberOrName" name="registrationNumberOrName" />
        </div>

        <div class="columns medium-2">
            <label for="handicapFrom">{{ "Player.Filter.HandicapFrom" | translate:lang }}</label>
            <input type="text" l10nValidateNumber="1.0-1" [ngModel]="localizeFilter(filter.handicapFrom)" (ngModelChange)="filter.handicapFrom=$event" id="handicapFrom" name="handicapFrom" />
        </div>

        <div class="columns medium-2">
            <label for="handicapTo">{{ "Player.Filter.HandicapTo" | translate:lang }}</label>
            <input type="text" l10nValidateNumber="1.0-1" [ngModel]="localizeFilter(filter.handicapTo)" (ngModelChange)="filter.handicapTo=$event" id="handicapTo" name="handicapTo" />
        </div>

        <div class="columns medium-2">
            <label for="membershipsCountFrom">{{ "Player.Filter.MembershipsCountFrom" | translate:lang }}</label>
            <input type="number" min="1" [(ngModel)]="filter.membershipsCountFrom" id="membershipsCountFrom" name="membershipsCountFrom" />
        </div>

        <div class="columns medium-2">
            <label for="membershipsCountTo">{{ "Player.Filter.MembershipsCountTo" | translate:lang }}</label>
            <input type="number" min="1" [(ngModel)]="filter.membershipsCountTo" id="membershipsCountTo" name="membershipsCountTo" />
        </div>

        <div class="columns medium-4">
            <label for="golfClubPrefix">{{ "GolfClub" | translate:lang }}</label>
            <select [(ngModel)]="filter.golfClubPrefix" id="golfClubPrefix" name="golfClubPrefix">
                <option value="" selected></option>
                <option *ngFor="let golfClub of golfClubs" [value]="golfClub.prefix">{{golfClub.prefix}} &ndash; {{golfClub.name}}</option>
            </select>
        </div>

        <div class="columns medium-2">
            <label for="isHome">{{ "Player.HomeClub" | translate:lang }}</label>
            <select [(ngModel)]="filter.isHome" id="isHome" name="isHome">
                <option value="" selected></option>
                <option value="true">{{ "Yes" | translate:lang }}</option>
                <option value="false">{{ "No" | translate:lang }}</option>
            </select>
        </div>

        <div class="columns medium-2">
            <label for="isBlocked">{{ "Player.Blocked" | translate:lang }}</label>
            <select [(ngModel)]="filter.isBlocked" id="isBlocked" name="isBlocked">
                <option value="" selected></option>
                <option value="true">{{ "Yes" | translate:lang }}</option>
                <option value="false">{{ "No" | translate:lang }}</option>
            </select>
        </div>

        <div class="columns medium-2 end">
            <label for="isDeleted">{{ "Player.Deleted" | translate:lang }}</label>
            <select [(ngModel)]="filter.isDeleted" id="isDeleted" name="isDeleted">
                <option value="" selected></option>
                <option value="true">{{ "Yes" | translate:lang }}</option>
                <option value="false">{{ "No" | translate:lang }}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="columns">
            <button type="submit" class="button" [disabled]="!filterForm.form.valid">{{ "Player.Filter.ShowPlayers" | translate:lang }}</button>
        </div>
    </div>
</form>
