<h3>{{ "Player.HandicapChart.Title" | translate:lang }}</h3>

<form>
    <div class="row">
        <div class="columns medium-4">
            <label for="year">{{ "Player.HandicapChart.Season" | translate:lang }}</label>
            <select #year (change)="getHandicapChanges(year.value)" id="year">
                <option value="" selected>{{ "Player.HandicapChart.AllSeasons" | translate:lang }}</option>
                <option *ngFor="let yearValue of yearsForFilter()" [value]="yearValue">{{yearValue}}</option>
            </select>
        </div>
    </div>
</form>

<p *ngIf="isLoadingInProgress">{{ "LoadingData" | translate:lang }}</p>

<p cgfAlertLabel *ngIf="errorMessage">{{ errorMessage }}</p>

<div *ngIf="handicapChanges && !isLoadingInProgress" class="row">
    <div class="columns medium-8">
        <canvas baseChart chartType="line" [datasets]="chartData" [options]="chartOptions" class="chart"></canvas>
    </div>

    <div class="columns medium-4">
        <p *ngFor="let change of reversedHandicapChanges">
            {{change.newHandicap | l10nDecimal:lang:'.1' }} | {{change.changed | l10nDate:lang:'shortDate'}}
        </p>
    </div>
</div>
