﻿<div class="button-group small float-left">
    <a *ngFor="let language of availableLanguages" (click)="changeLanguage(language.locale)" class="button secondary" [class.hollow]="!isCurrentLocale(language.locale)">
        {{language.label}}
    </a>
</div>

<ul class="menu align-right">
    <li routerLink="/club-comparison" routerLinkActive="active"><a>{{ "Menu.ClubComparison" | translate:lang }}</a></li>
    <li routerLink="/membership-snapshots" routerLinkActive="active"><a>{{ "Menu.MembershipSnapshots" | translate:lang }}</a></li>
    <li routerLink="/player-snapshots" routerLinkActive="active"><a>{{ "Menu.PlayerSnapshots" | translate:lang }}</a></li>
    <li routerLink="/players" routerLinkActive="active"><a>{{ "Menu.Players" | translate:lang }}</a></li>
</ul>