<div class="row">
    <div class="columns medium-6">
        <p *ngIf="list.totalCount > 0; else noData">
            {{ "Pager.Showing" | translate:lang }}
            <strong>{{itemsFrom() | l10nDecimal:lang}}&ndash;{{itemsTo() | l10nDecimal:lang}}</strong>
            {{ "Pager.From" | translate:lang }}
            <strong>{{list.totalCount | l10nDecimal:lang}}</strong>
        </p>

        <ng-template #noData>
            <p>
                <em>{{ "Pager.NoData" | translate:lang }}</em>
            </p>
        </ng-template>
    </div>

    <div class="columns medium-6" *ngIf="pageCount() > 1">
        <ul class="pagination text-right" role="navigation" aria-label="Pagination">
            <li *ngIf="filter.page > 1" class="pagination-previous"><a aria-label="Previous page" (click)="changePage(filter.page - 1)">{{ "Pager.Previous" | translate:lang }}</a></li>

            <li *ngIf="showFrontHellip()" class="ellipsis"></li>

            <li *ngFor="let pageNumber of pageNumbers()" [class.current]="pageNumber === filter.page">
                <a *ngIf="pageNumber !== filter.page; else currentPage" [attr.aria-label]="'Page ' + pageNumber" (click)="changePage(pageNumber)">{{pageNumber}}</a>

                <ng-template #currentPage>
                    <span class="show-for-sr">You're on page</span> {{pageNumber}}
                </ng-template>
            </li>

            <li *ngIf="showBackHellip()" class="ellipsis"></li>

            <li *ngIf="filter.page < pageCount()" class="pagination-next"><a aria-label="Next page" (click)="changePage(filter.page + 1)">{{ "Pager.Next" | translate:lang }}</a></li>
        </ul>
    </div>
</div>
