﻿@model CGFWatcher.Web.Models.ImportModel

@{
    ViewData["Title"] = "Import";
}

<p>
    Import Rows Count: @Model.ImportRowsCount
</p>

<form method="post" action="@Url.Action("Run")">
    <div>
        @Html.LabelFor(x => x.ImportParameters.HandicapFrom, "HCP From")
        @Html.TextBoxFor(x => x.ImportParameters.HandicapFrom)
    </div>

    <div>
        @Html.LabelFor(x => x.ImportParameters.HandicapTo, "HCP To")
        @Html.TextBoxFor(x => x.ImportParameters.HandicapTo)
    </div>

    <div>
        <button type="submit">Import</button>
    </div>
</form>